# Server config
PORT=4000

# Google Service Account credentials (Domain-Wide Delegation enabled)
GOOGLE_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nABC...\n-----END PRIVATE KEY-----\n"

# Impersonated admin user in your Workspace (super admin or delegated admin)
GOOGLE_IMPERSONATE_SUBJECT=admin@your-domain.edu

# MongoDB connection
MONGODB_URI=mongodb+srv://ducanhg221104_db_user:dphfOOPNj8qiTKGS@gsuite-tool.2dwugwc.mongodb.net/gsuite-tool

